<h3>Product</h3>

<div>
    <h3>@Name</h3>
    <h4>@Price</h4>
    <h5>@DataFromParent</h5>
</div>

<button class="btn btn-primary" @onclick="f1">Click Me</button>
<h5></h5>
<ComponentInsideProduct></ComponentInsideProduct>
@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Price { get; set; }
    [CascadingParameter(Name = "Data1")]
    public string DataFromParent { get; set; }

    [Parameter]
    public EventCallback<string> OnClickCallBack { get; set; }

    string Data = "Data Sent";
    private void f1()
    {
        OnClickCallBack.InvokeAsync(Data);
    }
}
